#*
*$
*.BAK
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rdb
*.rej
*.swp
*.Z
*/.git/*
*~
,*
.#*
.del-*
.deployables
.DS_Store
.idea
.make.state
.nse_depinfo
.project
.rvmrc
/.bundle
/.settings/*
/config/*.pem
/config/*.yml
/db/*.sqlite3
/node_modules
/log/*.log
/node_modules
/Procfile
/public/assets
/public/tmp
/public/uploads
/tmp
/vendor/assets/bower_components
/vendor/bundle
nbproject/*
_$*
CVS.adm
gems.tags
RCS
RCSLOG
SCCS
