<% squery = !!(defined? search_query) ? search_query : '' %>
<div id="search-box">
                <form method="get" action="/properties/search">
                    <input type="text" value="<%= squery %>" size="60" name="query" placeholder="Address, City, State, Zip" />                  
                    <input type="submit" class="btn-primary" value="Search" />
                </form>
        </div>