<div id="sorter">
Sort Results: <select data-currentsort="<%= @order[:id] %> " >
            <option value="0" >Date Listed</option>
            <option value="1">State</option>
            <option value="2">City</option>
            <option value="3">Price (Lowest to Highest)</option>
            <option value="4">End Date (Closest to Farthest)</option>            
   </select>
        
</div>