/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'ratings';
@import 'properties';

body{
    font-family: sans-serif;
}

header .logo {
    font-weight: bold;
        font-size: 1.2em;
        color: white;
        margin-top: 5px;
        margin-left: 5px;
        padding: 5px;
        background-color: #31B0D5;
        border: solid thin orange;
}

header .logo a {
    text-decoration: none;
}

footer {
    font-size: 0.8em;
}

.container-responsive {
    background-color: #edeceb;
    margin-right: 1%;
    margin-left: 1%;  
    padding-right: 1%;
    padding-left: 1%;
}


.property-box {
    margin: 10px;
    padding: 5px;
    border: solid thin #561010;
    max-width: 250px;
    height: 480px;
    font-size: small;
    cursor: pointer;
}

.property-box img {
    max-height: 200px;    
    max-width: 100%;
}

.property-box .address{
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-justify: auto;
}

.property-box .listing-type{
    font-size: 1em;
    color: orange;
    font-weight: bold;
}

.property-box .current-price{
    font-size: 1.5em;
    color: steelblue;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.property-box .sale-type{
    font-size: 1em;
    color: orange;
    font-weight: bold;
}

.property-box .source-url{
    font-size: 0.8em;
    color: darkred;
    text-align: center;
    font-weight: bold;
}

.property-box .date{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

#note-editor {
    display: none;
}

.clickable {
   cursor: pointer;
}

.note-icon {
            background: image-url('notepad.png') no-repeat;
            float: left;
            height:     28px;
            padding:    2px;
            width:      28px; 
            margin-top: 10px;          
} 