        .ratings {
            overflow:   visible;
            padding:    10px;
            position:   relative;
            max-width:      250px;
            height:     10%;
        }
        .ratings_stars {
            background: image-url('star_empty.png') no-repeat;
            float:      left;
            height:     28px;
            padding:    2px;
            width:      32px;
        }
        .ratings_vote {
            background: image-url('star_full.png') no-repeat;
        }
        .ratings_over {
            background: image-url('star_highlight.png') no-repeat;
        }
        .ratings_delete {
            background: image-url('delete.png') no-repeat;
            float:      right;
            height:     28px;
            padding:    2px;
            width:      32px; 
            margin-top: 5px;
            margin-left: 5px;
            display: none;
        }        
        .ratings_total_votes {
            background: #eaeaea;
            top: 58px;
            left: 0;
            padding: 5px;
            position:   absolute;  
        } 

