<div class="pull-right lead" id="user-block">
    <div> <a href="/user/logout" class="btn btn-link" >Logout</a></div>
    <div> <a href="<%=properties_favorites_path %>" class="btn btn-link" >Favorites</a></div>
</div>
