<!DOCTYPE html>
<html>
<head>
  <title>Metamls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
    <div class="container-responsive">
    <header class="navbar navbar-default">
        <div class="pull-left logo" >MetaMLS</div>
        <div class="pull-right lead" id="user-block">User</div>
    </header>
<%= yield %>
    <footer>Metamls (c) 2015</footer>
    </div>
</body>
</html>
